# Automating data import with python Pandas, loading into a postgres database, and visualizing with Power BI.

In [8]:
import pandas as pd
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine

In [30]:
import os
print(os.getcwd())

D:\automating-data-imports-with-python

In [41]:
# Load .env file — force override in case it was cached before
load_dotenv(dotenv_path="D:/automating-data-imports-with-python/.env.txt", override=True)

# Fetch environment variables
DB_USER = os.getenv('DB_USER')
DB_PASSWORD = os.getenv('DB_PASSWORD')
DB_HOST = os.getenv('DB_HOST')
DB_PORT = os.getenv('DB_PORT')
DB_NAME = os.getenv('DB')  # renamed for clarity

# Print them to verify (optional; remove sensitive ones in real usage)
print("DB_USER:", DB_USER)
print("DB_PASSWORD:", DB_PASSWORD)  # be careful with this in real apps
print("DB_HOST:", DB_HOST)
print("DB_PORT:", DB_PORT)
print("DB_NAME:", DB_NAME)

DB_USER: postgres
DB_PASSWORD: 1234
DB_HOST: localhost
DB_PORT: 5432
DB_NAME: breast_cancer

* Import the CSV file and load it into a pandas dataframe.

In [52]:
def create_dataframe(path):
    df = pd.read_csv(path)
    return df

* HIghlight the structure and nature of the dataset.

In [10]:
def check_dataset(dataframe,head=5):
    print(20*"#", "HEAD", 20*"#")
    print(dataframe.head(head))
    print(20*"#", "TAIL", 20*"#")
    print(dataframe.tail(head))
    print(20*"#", "SHAPE", 20*"#")
    print(dataframe.shape)
    print(20*"#", "TYPES", 20*"#")
    print(dataframe.dtypes)
    print(20*"#", "NA", 20*"#")
    print(dataframe.isnull().sum())
    print(20*"#", "QUARTILES", 20*"#")
    print(dataframe.describe([0.01,0.05,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,0.95,0.99]).T)

In [44]:
def clean_dataset(dataframe):
    clean_data = dataframe
    return clean_data

In [50]:
def load_dataset(dataframe):
    try:
        engine = create_engine(
            f'postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}'
        )
        
        # Optional: check connection
        with engine.connect() as conn:
            print("✅ Database connection successful.")

        # Call your cleaning function
        clean_data = clean_dataset(dataframe)

        # Load to PostgreSQL
        clean_data.to_sql('patients', engine, if_exists='replace', schema='patients')

        print("✅ Dataset successfully loaded.")
    
    except Exception as e:
        print(f"❌ Error loading dataset: {e}")

In [53]:
breast_cancer = "Breast_Cancer.csv"
df = create_dataframe(breast_cancer)

In [55]:
check_dataset(df)

#################### HEAD ####################
   Age   Race Marital Status T Stage  N Stage 6th Stage  \
0   68  White        Married       T1      N1       IIA
1   50  White        Married       T2      N2      IIIA
2   58  White       Divorced       T3      N3      IIIC
3   58  White        Married       T1      N1       IIA
4   47  White        Married       T2      N1       IIB

               differentiate Grade   A Stage  Tumor Size Estrogen Status  \
0      Poorly differentiated     3  Regional           4        Positive
1  Moderately differentiated     2  Regional          35        Positive
2  Moderately differentiated     2  Regional          63        Positive
3      Poorly differentiated     3  Regional          18        Positive
4      Poorly differentiated     3  Regional          41        Positive

  Progesterone Status  Regional Node Examined  Reginol Node Positive  \
0            Positive                      24                      1
1            Positive                      14                      5
2            Positive                      14                      7
3            Positive                       2                      1
4            Positive                       3                      1

   Survival Months Status
0               60  Alive
1               62  Alive
2               75  Alive
3               84  Alive
4               50  Alive
#################### TAIL ####################
      Age   Race Marital Status T Stage  N Stage 6th Stage  \
4019   62  Other        Married       T1      N1       IIA
4020   56  White       Divorced       T2      N2      IIIA
4021   68  White        Married       T2      N1       IIB
4022   58  Black       Divorced       T2      N1       IIB
4023   46  White        Married       T2      N1       IIB

                  differentiate Grade   A Stage  Tumor Size Estrogen Status  \
4019  Moderately differentiated     2  Regional           9        Positive
4020  Moderately differentiated     2  Regional          46        Positive
4021  Moderately differentiated     2  Regional          22        Positive
4022  Moderately differentiated     2  Regional          44        Positive
4023  Moderately differentiated     2  Regional          30        Positive

     Progesterone Status  Regional Node Examined  Reginol Node Positive  \
4019            Positive                       1                      1
4020            Positive                      14                      8
4021            Negative                      11                      3
4022            Positive                      11                      1
4023            Positive                       7                      2

      Survival Months Status
4019               49  Alive
4020               69  Alive
4021               69  Alive
4022               72  Alive
4023              100  Alive
#################### SHAPE ####################
(4024, 16)
#################### TYPES ####################
Age                        int64
Race                      object
Marital Status            object
T Stage                   object
N Stage                   object
6th Stage                 object
differentiate             object
Grade                     object
A Stage                   object
Tumor Size                 int64
Estrogen Status           object
Progesterone Status       object
Regional Node Examined     int64
Reginol Node Positive      int64
Survival Months            int64
Status                    object
dtype: object
#################### NA ####################
Age                       0
Race                      0
Marital Status            0
T Stage                   0
N Stage                   0
6th Stage                 0
differentiate             0
Grade                     0
A Stage                   0
Tumor Size                0
Estrogen Status           0
Progesterone Status       0
Regional Node Examined    0
Reginol Node Positive     0
Survival Months           0
Status                    0
dtype: int64
#################### QUARTILES ####################
                         count       mean        std   min    1%     5%   10%  \
Age                     4024.0  53.972167   8.963134  30.0  33.0  39.00  42.0
Tumor Size              4024.0  30.473658  21.119696   1.0   4.0   9.00  12.0
Regional Node Examined  4024.0  14.357107   8.099675   1.0   1.0   2.00   4.0
Reginol Node Positive   4024.0   4.158052   5.109331   1.0   1.0   1.00   1.0
Survival Months         4024.0  71.297962  22.921430   1.0   8.0  26.15  44.0

                         20%   30%   40%   50%   60%   70%   80%    90%  \
Age                     46.0  49.0  51.0  54.0  57.0  60.0  63.0   66.0
Tumor Size              15.0  18.0  20.0  25.0  28.0  35.0  43.0   60.0
Regional Node Examined   8.0  10.0  12.0  14.0  16.0  18.0  20.0   25.0
Reginol Node Positive    1.0   1.0   2.0   2.0   3.0   4.0   6.0   10.0
Survival Months         53.0  60.0  66.0  73.0  80.0  86.0  94.0  100.0

                          95%     99%    max
Age                      68.0   69.00   69.0
Tumor Size               75.0  102.54  140.0
Regional Node Examined   28.0   38.77   61.0
Reginol Node Positive    15.0   26.00   46.0
Survival Months         103.0  107.00  107.0

In [54]:
load_dataset(df)

✅ Database connection successful.
✅ Dataset successfully loaded.